.container {
    width: 95%;
    margin: 3em auto;
}
.masonry{
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.card{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}


.socialButtonsRow{
	width: 90%;
}


body{
	font-family: Lato;
	color: #212121;
	background-color: white;
}


footer{
	color: #FF0254;
}

h1{
font-size: 8rem; 
font-weight: 800;

}

h2{
font-size: 2rem; 
font-weight: 100;
}

h3{
font-size: 1rem; 
font-weight: 800;
}
.socialText{
	color: white;
	font-weight: 400;
}

.socialIcon{
	color: #FF0254;
}

.modal-content{
	color:#212121;
}

.fixed-action-btn horizontal{
	height: 10%!important;
}