.container{
    column-count: 4;
    column-gap: 1em;
}

.card{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
}
@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}


.socialButtonsRow{
	width: 90%;
}


body{
	font-family: Lato;
	color: #212121;
	background-color: white;
}


footer{
	color: #FF0254;
}

h1{
font-size: 20vw; 
font-weight: 800;

}

h2{
font-size: 4vw; 
font-weight: 100;
}

h3{
font-size: 2vw; 
font-weight: 800;
}
.socialText{
	color: white;
	font-weight: 400;
}

.socialIcon{
	color: #FF0254;
}

.modal-content{
	color:#212121;
}

.fixed-action-btn horizontal{
	height: 10%!important;
}